{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>RESUMEN</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/jpg" href="{% static 'assets/images/favi.jpg' %}">

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Font Awesome CSS -->
    <link href="{% static 'assets/css/icons-mind.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Include all css plugins (below), or include individual files as needed -->
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/flexslider.css' %}" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css">

    <!-- Color Scheme CSS -->
    <link href="{% static 'assets/css/color.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/switch_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="page-top">

<!-- Section - Home Start -->
<section id="home" class="home-bg-static bg-cover bg-gray-dark bg-overlay-black-5 w-100">
    <div class="container h-100">
        <div class="row container-fluid text-sm-center text-md-left">
            <div class="col-3 outset-md-9 d-none d-sm-block">
                <img src="{% static 'assets/images/kinetia_logo_oepm.jpg' %}" alt="Kinetia" class="img-fluid kinetia-logo">
            </div>
        </div>
        <div class="row align-items-center h-100 justify-content-center">
            <div class="col-lg-9 text-center">
                <h2 class="font-alt font-w-600 letter-spacing-2 m-0 mt-3 opacity-9-5 text-white title-sm-extra-large title-extra-large-2">{{ perfil.nombre }}</h2>
                <span class="d-block font-alt mt-2 opacity-9-5 text-white title-sm-medium title-large">{{ perfil.puesto }}</span>
                <span class="d-block font-alt mb-2 mt-2 opacity-9-5 text-white text-extra-large">Tengo {{ perfil.edad }} años de edad, soy estudiante de ingeniería, amante de los videojuegos y adicto al café.</span>
                <a href="#profile" class="page-scroll btn box-shadow-wide btn-base-color btn-large m-0 mt-4">Conóceme Mejor</a>
            </div>
            <!-- //.col-lg-9 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Home End -->


<!-- Navigation Start -->
<nav id="navigation" class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div class="navbar-header d-lg-none">
            <a class="navbar-brand page-scroll" href="#page-top">{{ perfil.nombre }}</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-berg" aria-controls="navbar-berg" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- //.navbar-header -->

        <div class="navbar-collapse collapse justify-content-center" id="navbar-berg">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#profile">Perfil de la Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#skills">Técnicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#portfolio">Exitos - Experiencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#references">Referencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#resume">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contáctame</a>
                </li>
            </ul>
        </div>
        <!-- //.navbar-collapse -->
    </div>
    <!-- //.container -->
</nav>
<!-- //Navigation End -->


<!-- Section - Profile Start -->
<section id="profile" class="bg-gray-dark-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="pr-lg-4">
                    <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-white">{{ perfil.nombre }}</h3>
                    <p class="mt-4 text-large text-white">{{ perfil.nombre|title }}, tengo {{ perfil.edad }} años de edad, nací y crecí en Madrid, España. Desarrollador creativo altamente motivado con cartera de clientes internacionales.</p>
                    <span class="bg-base-color mt-4 sep-line-medium-thick"></span>
                    <p class="mt-4 text-gray text-large">Actualmente trabajo en Galley-La Company, donde paso la mayor parte de mi tiempo creando y trabajando en proyectos increíbles.</p>
                    <p class="mt-3 text-gray text-large">Lorem ipsum dolor sit amet, consectetuer adipiscing elit is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetuer adipiscing is simply dummy text of the printing and typesetting industry ever since the 1500s.</p>

                    <div class="row pt-5">
                        <div class="col-md-6">
                            <span class="d-block font-alt letter-spacing-2 text-extra-large text-white">Detalles de Contacto:</span>
                            <ul class="list-unstyled mt-2 text-gray text-large">
                                <li>{{ perfil.nombre }}</li>
                                <li class="pt-2">{{ perfil.address }}</li>
                                <li class="pt-2">{{ perfil.telefono }}</li>
                                <li class="pt-2">{{ perfil.email }}</li>
                                {% if perfil.webpage %}
                                    <li class="pt-2">{{ perfil.webpage }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.pr-lg-4 -->
            </div>
            <!-- //.col-lg-8 -->

            <div class="col-lg-4">
                <img src="{{ perfil.imagen.url }}" alt="" class="img-fluid d-none d-lg-block" style="width:100%;"/>

                <div class="p-3 bg-gray-2 opacity-9 text-center d-none d-lg-block">
                    <span class="font-alt font-w-600 letter-spacing-2 text-lg-small text-large text-white">{{ perfil.puesto }}</span>
                </div>
                <!-- //.p-3 -->
                <!-- //.col-md-6 -->
                {% if perfil.cv %}
                    <div class="p-3 text-center">
                        <a href="{{ perfil.cv.url }}" class="box-shadow-wide mt-4 mt-md-5 text-white">Descargar Resumen</a>
                    </div>
                    <!-- //.col-md-6 -->
                {% endif %}
            </div>
            <!-- //.col-lg-4 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Profile End -->

<!-- Section - Services Start -->
<section id="services" class="bg-gray-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-gray-new">¿Qué hago?</h3>
                <p class="mt-3 text-gray text-extra-large"><i style="font-style: inherit">Yo amo lo que hago. Me enorgullezco de lo que hago. Y no puedo hacer algo a la mitad, tres cuartos, nueve décimas. Si voy a hacer algo, voy hasta el final.</i></p>
                <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
            </div>
            <!-- //.col-lg-8 -->
        </div>
        <!-- //.row -->

        <div class="row mt-5 pt-5">
            <div class="col-lg-4 bg-gray-dark-3 border-md-0 border-bottom border-right border-gray-2" data-mh="mh-col-services">
                <div class="px-lg-3 py-5 py-lg-4 text-center text-lg-left">
                    <i class="icon-Chess text-base-color title-extra-large"></i>
                    <span class="d-block font-alt letter-spacing-2 mt-2 text-extra-large text-white">1. Estrategia</span>
                    <span class="bg-base-color ml-lg-0 mt-3 mx-auto sep-line-thick"></span>
                    <p class="m-0 mt-3 text-gray text-medium">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <!-- //.px-lg-3 -->
            </div>
            <!-- //.col-lg-4 -->

            <div class="col-lg-4 border-md-0 border-bottom border-right border-gray-2" data-mh="mh-col-services">
                <div class="px-lg-3 py-5 py-lg-4 text-center text-lg-left">
                    <i class="icon-Leafs-2 text-base-color title-extra-large"></i>
                    <span class="d-block font-alt letter-spacing-2 mt-2 text-extra-large text-gray-new">2. Marca</span>
                    <span class="bg-base-color ml-lg-0 mt-3 mx-auto sep-line-thick"></span>
                    <p class="m-0 mt-3 text-gray text-medium">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <!-- //.px-lg-3 -->
            </div>
            <!-- //.col-lg-4 -->

            <div class="col-lg-4 bg-gray-dark-3 border-md-0 border-bottom border-gray-2" data-mh="mh-col-services">
                <div class="px-lg-3 py-5 py-lg-4 text-center text-lg-left">
                    <i class="icon-Transform-2 text-base-color title-extra-large"></i>
                    <span class="d-block font-alt letter-spacing-2 mt-2 text-extra-large text-white">3. Diseño Web</span>
                    <span class="bg-base-color ml-lg-0 mt-3 mx-auto sep-line-thick"></span>
                    <p class="m-0 mt-3 text-gray text-medium">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <!-- //.px-lg-3 -->
            </div>
            <!-- //.col-lg-4 -->

            <div class="col-lg-4 border-md-0 border-right border-gray-2" data-mh="mh-col-services">
                <div class="px-lg-3 py-5 py-lg-4 text-center text-lg-left">
                    <i class="icon-Speach-Bubble3 text-base-color title-extra-large"></i>
                    <span class="d-block font-alt letter-spacing-2 mt-2 text-extra-large text-gray-new">4. Redes Sociales</span>
                    <span class="bg-base-color ml-lg-0 mt-3 mx-auto sep-line-thick"></span>
                    <p class="m-0 mt-3 text-gray text-medium">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <!-- //.px-lg-3 -->
            </div>
            <!-- //.col-lg-4 -->

            <div class="col-lg-4 bg-gray-dark-3 border-md-0 border-right border-gray-2" data-mh="mh-col-services">
                <div class="px-lg-3 py-5 py-lg-4 text-center text-lg-left">
                    <i class="icon-Monitor-Tablet text-base-color title-extra-large"></i>
                    <span class="d-block font-alt letter-spacing-2 mt-2 text-extra-large text-white">5. Desarrollo</span>
                    <span class="bg-base-color ml-lg-0 mt-3 mx-auto sep-line-thick"></span>
                    <p class="m-0 mt-3 text-gray text-medium">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <!-- //.px-lg-3 -->
            </div>
            <!-- //.col-lg-4 -->

            <div class="col-lg-4" data-mh="mh-col-services">
                <div class="px-lg-3 py-5 py-lg-4 text-center text-lg-left">
                    <i class="icon-Consulting text-base-color title-extra-large"></i>
                    <span class="d-block font-alt letter-spacing-2 mt-2 text-extra-large text-gray-new">6. Consultoría</span>
                    <span class="bg-base-color ml-lg-0 mt-3 mx-auto sep-line-thick"></span>
                    <p class="m-0 mt-3 text-gray text-medium">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <!-- //.px-lg-3 -->
            </div>
            <!-- //.col-lg-4 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Services End -->


{% if habilidades %}
    <!-- Section - Skills Start -->
    <section id="skills" class="bg-gray-dark-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-white">Habilidades y Experticia</h3>
                    <p class="mt-3 text-gray text-extra-large"><i style="font-style: inherit">Un ganador es alguien que reconoce los talentos que Dios le ha dado, trabaja a fondo para desarrollarlos en habilidades y usa estas habilidades para lograr sus objetivos.</i></p>
                    <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
                </div>
                <!-- //.col-lg-8 -->
            </div>
            <!-- //.row -->

            <div class="row justify-content-center mt-5 pt-lg-5">
                {% for habilidad in habilidades %}
                    <div class="col-sm-6 col-md-4 col-lg-2 text-center py-3 py-lg-0">
                        <div class="chart-circle">
                            <div class="chart">
                                <span class="item-progress" data-percent="{{ habilidad.porcentaje }}"></span>
                            </div>
                            <!-- //.chart -->

                            <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">{{ habilidad.porcentaje }}%</span>
                        </div>
                        <!-- //.chart-circle -->

                        <span class="d-block font-alt letter-spacing-1 mt-3 text-extra-large text-white">{{ habilidad.nombre }}</span>
                    </div>
                    <!-- //.col-lg-2 -->
                {% endfor %}
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //Section - Skills End -->
{% endif %}

{% if conocimientos %}
    <!-- Section - Knowledge Start -->
    <section id="knowledge" class="bg-gray-dark-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-white">Conocimiento</h3>
                    <p class="mt-3 text-gray text-extra-large"><i style="font-style: inherit">El comportamiento humano fluye de tres fuentes principales: deseo, emoción y conocimiento.</i></p>
                    <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
                </div>
                <!-- //.col-lg-8 -->
            </div>
            <!-- //.row -->

            <div class="row mt-5 pt-lg-5">
                {% for conocimiento in conocimientos %}
                    <div class="col-lg-6 py-3">
                        <span class="d-block font-alt letter-spacing-1 mb-3 text-extra-large text-white">{{ conocimiento.nombre }}</span>

                        <div class="chart-bar bg-gray">
                            <span class="item-progress bg-gray-2" data-percent="{{ conocimiento.porcentaje }}"></span>
                            <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">{{ conocimiento.porcentaje }}%</span>
                        </div>
                        <!-- //.chart-bar -->
                    </div>
                    <!-- //.col-lg-6 -->
                {% endfor %}
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //Section - Knowledge End -->
{% endif %}

{% if conocimientos %}
    <!-- Section - Accolades Start -->
    <section id="accolades" class="bg-gray-dark-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-white">Reconocimientos</h3>
                    <p class="mt-3 text-gray text-extra-large"><i style="font-style: inherit">Los elogios, al igual que los rasguños y magulladuras, se desvanecen al final, y todo lo que queda es su ambición.</i></p>
                    <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
                </div>
                <!-- //.col-lg-8 -->
            </div>
            <!-- //.row -->

            <div class="row justify-content-center mt-5 pt-5">
                <div class="col-lg-6">
                    <div class="accolades">
                        {% for reconocimiento in reconocimientos %}
                            <div class="item">
                                <i class="icon-Idea-2 icon icon-medium bg-base-color text-white rounded-circle"></i>

                                <div class="item-content">
                                    <span class="d-block font-alt letter-spacing-1 text-white title-small">{{ reconocimiento.titulo }}</span>
                                    <span class="d-block mt-2 text-gray text-large">{{ reconocimiento.descripcion }}</span>
                                </div>
                                <!-- //.item-content -->
                            </div>
                            <!-- //.item -->
                        {% endfor %}
                    </div>
                    <!-- //.accolades -->
                </div>
                <!-- //.col-lg-6 -->
            </div>
            <!-- //.row -->

            <div class="row justify-content-center">
                <div class="col mt-4 text-center">
                    <i class="icon-Bookmark text-white title-extra-large-2"></i>
                </div>
                <!-- //.col -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //Section - Accolades End -->
{% endif %}

{% if proyectos %}
    <!-- Section - Portfolio Start -->
    <section id="portfolio" class="bg-gray-dark pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-gray-new">Mis últimos trabajos</h3>
                    <p class="mt-3 text-gray text-extra-large"><i style="font-style: inherit;">Estoy buscando expandir mi portafolio mientras estoy joven.</i></p>
                    <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
                </div>
                <!-- //.col-lg-8 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->

        <div class="container-fluid mt-5 pt-5">
            <div class="row gallery-grid">
                {% for proyecto in proyectos %}
                    <div class="col-sm-12 col-md-6 col-xl-4 p-0">
                        <figure>
                            <div class="gallery-link">
                                <a href="{{ proyecto.imagen.url }}" class="icon icon-small bg-gray-dark rounded-circle text-white zoom" title="{{ proyecto.title }}">
                                    <i class="icon-Full-Screen"></i>
                                </a>
                                <a href="{% if proyecto.url %}{{ proyecto.url }}{% else %}#{% endif %}" class="icon icon-small bg-base-color rounded-circle text-white" target="_blank">
                                    <i class="icon-Link"></i>
                                </a>
                            </div>
                            <!-- //.gallery-link -->

                            <div class="gallery-title">
                                <span class="font-alt text-white">
                                    <p class="text-medium text-uppercase" style="margin-bottom: 0px">{{ proyecto.titulo }}</p>
                                    <p class="text-small" align="justify" style="margin-bottom: 0px; padding: 0 10px">{{ proyecto.descripcion }}</p>
                                    {% if proyecto.tags %}
                                        <ul>
                                        {% for tag in proyecto.tags %}
                                            <li class="text-small tag" style="display: inline-block;background-color: #171717;padding: 0 6px;border-radius: 10px;">{{ tag }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </span>
                            </div>
                            <!-- //.gallery-title -->

                            <div class="gallery-img" style="max-height: 100%; height: 100%">
                                <img src="{{ proyecto.imagen.url }}" alt="" class="img-fluid" style="max-height: 100%; height: 100%">
                            </div>
                            <!-- //.gallery-img -->
                        </figure>
                    </div>
                    <!-- //.col-md-6 -->
                {%  endfor %}
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container-fluid -->
    </section>
    <!-- //Section - Portfolio End -->
{% endif %}


{% if referencias %}
    <!-- Section - References Start -->
    <section id="references" class="bg-cover bg-gray-dark-2 bg-overlay-black-5" style="padding: 80px 0;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-white">Referencias</h3>
                    <p class="mt-3 text-references text-extra-large"><i style="font-style: inherit">Los testimonios son suficientes para convencer a las personas por el momento.</i></p>
                    <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
                </div>
                <!-- //.col-lg-8 -->
            </div>
            <!-- //.row -->

            <div class="row justify-content-center mt-5 pt-5">
                <div class="col-lg-10">
                    <div id="flexslider-references" class="flexslider">
                        <div class="slides">
                            {% for referencia in referencias %}
                                <div class="item">
                                    <div class="row justify-content-center">
                                        <div class="col-4 col-md-3 text-center text-lg-left">
                                            <div class="position-relative pr-lg-4 pr-xl-5">
                                                <img src="{{ referencia.imagen.url }}" alt="" class="img-fluid rounded-circle border border-extra-thick border-white"/>
                                                <i class="icon-Speach-Bubble3 icon bg-base-color bottom-0 box-shadow-wide d-none d-sm-block left-0 position-absolute rounded-circle text-white"></i>
                                            </div>
                                            <!-- //.position-relative -->
                                        </div>
                                        <!-- //.col-4 -->

                                        <div class="col-lg-9 mt-5 mt-lg-0 text-center text-lg-left">
                                            <span class="d-block font-alt letter-spacing-2 text-uppercase text-white title-sm-medium">{{ referencia.empresa }}</span>
                                            <span class="bg-base-color ml-lg-0 mt-3 mx-auto sep-line-medium-thick"></span>
                                            <p class="m-0 mt-3 text-white title-md-small title-sm-small"><i>"{{ referencia.comentario }}"</i></p>
                                            <span class="d-block mt-4 text-large text-underline text-white"><i>{{ referencia.nombre }}</i></span>
                                            <span class="d-block text-references text-large"><i>{{ referencia.puesto }}</i></span>
                                        </div>
                                        <!-- //.col-lg-7 -->
                                    </div>
                                    <!-- //.row -->
                                </div>
                                <!-- //.item -->
                            {% endfor %}
                        </div>
                        <!-- //.slides -->

                        <ul class="flexslider-direction-nav d-none d-lg-block m-0 opacity-9 p-0">
                            <li class="list-inline-item pr-2">
                                <a class="flex-prev text-white title-extra-large" href="#"><i class="icon-Left-3"></i></a>
                            </li>
                            <li class="list-inline-item pl-2">
                                <a class="flex-next text-white title-extra-large" href="#"><i class="icon-Right-3"></i></a>
                            </li>
                        </ul>

                        <div class="flexslider-controls opacity-9 pt-5">
                            <ul class="flex-control-nav">
                                {% for referencia in referencias %}
                                    <li>
                                        <a href="#"><img src="{{ referencia.imagen.url }}" alt="" class="img-fluid rounded" style="height: 40px"/></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- //.flexslider-controls -->
                    </div>
                    <!-- //.flexslider -->
                </div>
                <!-- //.col-lg-10 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //Section - References End -->
{% endif %}
<!-- Section - Resume Start -->
<section id="resume" class="bg-gray-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-gray-new">Curriculum Vitae</h3>
                <p class="mt-3 text-gray text-extra-large"><i style="font-style: inherit">Si llamas fallas a tus experimentos, puedes colocarlos en tu resumen y reclamarlos como logros.</i></p>
                <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
            </div>
            <!-- //.col-lg-8 -->
        </div>
        <!-- //.row -->

        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-lg-10">
                <div class="text-center text-md-left">
                    <span class="d-block font-alt letter-spacing-2 text-extra-large text-gray-new">Mis estudios</span>
                    <span class="d-block font-alt letter-spacing-2 mt-1 text-extra-large text-gray-new">2003 - 2012</span>
                </div>
                <!-- //.text-center -->

                <div id="accordion-education" class="accordion mt-5 mt-md-4">
                    <div class="item pb-5 pb-md-4">
                                <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                                    2010 - 2012
                                </span>

                        <a href="#collapseEducation1" data-toggle="collapse" aria-expanded="true" aria-controls="collapseEducation1" class="bg-gray-2 rounded"></a>

                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingEducation1">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-gray-new">Maestrías - Universidad</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseEducation1" class="collapse show" role="tabpanel" aria-labelledby="headingEducation1">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->

                    <div class="item pb-5 pb-md-4">
                                <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                                    2005 - 2008
                                </span>

                        <a href="#collapseEducation2" data-toggle="collapse" aria-expanded="false" aria-controls="collapseEducation2" class="collapsed bg-gray-2 rounded"></a>

                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingEducation2">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-gray-new">Profesión - Universidad</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseEducation2" class="collapse" role="tabpanel" aria-labelledby="headingEducation2">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->

                    <div class="item">
                                <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                                    2003 - 2005
                                </span>

                        <a href="#collapseEducation3" data-toggle="collapse" aria-expanded="false" aria-controls="collapseEducation3" class="collapsed bg-gray-2 rounded"></a>

                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingEducation3">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-gray-new">Bachillerato - Colegio</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseEducation3" class="collapse" role="tabpanel" aria-labelledby="headingEducation3">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->
                </div>
                <!-- //.accordion -->
            </div>
            <!-- //.col-lg-10 -->
        </div>
        <!-- //.row -->

        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-lg-10">
                <div class="text-center text-md-left">
                    <span class="d-block font-alt letter-spacing-2 text-extra-large text-gray-new">Experiencia laboral</span>
                    <span class="d-block font-alt letter-spacing-2 mt-1 text-extra-large text-gray-new">2009 - Actualmente</span>
                </div>
                <!-- //.text-center -->

                <div id="accordion-work" class="accordion mt-5 mt-md-4">
                    <div class="item pb-5 pb-md-4">
                                <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                                    > a 2016
                                </span>

                        <a href="#collapseWork1" data-toggle="collapse" aria-expanded="true" aria-controls="collapseWork1" class="bg-gray-2 rounded"></a>

                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingWork1">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-gray-new">Senior Designer - Galley La Company</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseWork1" class="collapse show" role="tabpanel" aria-labelledby="headingWork1">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Responsabilidades:<br>
                                        Diseño de material publicitario impreso y sitios web para varios clientes y mercados, desarrollo de marcas nuevas y existentes, modelado 3D de planos de planta y de sitio.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->

                    <div class="item pb-5 pb-md-4">
                                <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                                    2013 - 2016
                                </span>

                        <a href="#collapseWork2" data-toggle="collapse" aria-expanded="true" aria-controls="collapseWork2" class="collapsed bg-gray-2 rounded"></a>

                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingWork2">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-gray-new">Graphic Designer - Company Name</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseWork2" class="collapse" role="tabpanel" aria-labelledby="headingWork2">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Responsabilidades:<br>
                                        Diseño de carteles publicitarios impresos y exhibiciones comerciales, rediseño del sitio web de la compañía y micrositios, diseño y desarrollo de explosiones de correo electrónico, desarrollo de marcas para organizaciones afiliadas.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->

                    <div class="item pb-5 pb-md-4">
                                <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                                    2010 - 2013
                                </span>

                        <a href="#collapseWork3" data-toggle="collapse" aria-expanded="true" aria-controls="collapseWork3" class="collapsed bg-gray-2 rounded"></a>

                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingWork3">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-gray-new">IT Specialist - Company Name</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseWork3" class="collapse" role="tabpanel" aria-labelledby="headingWork3">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Responsabilidades:<br>
                                        Filmación y edición de videos promocionales, administración del sistema y la integridad de la red.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->

                    <div class="item pb-5 pb-md-4">
                                <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                                    2009 - 2010
                                </span>

                        <a href="#collapseWork4" data-toggle="collapse" aria-expanded="true" aria-controls="collapseWork4" class="collapsed bg-gray-2 rounded"></a>

                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingWork4">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-gray-new">Graphic Designer Intern - Company Name</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseWork4" class="collapse" role="tabpanel" aria-labelledby="headingWork4">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Responsabilidades:<br>
                                        Rediseño de micrositios de guías y estándares de marca, diseño de logotipos departamentales, fotografía de productos para marketing colateral, diseño de pagina corporativa de twitter.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->
                </div>
                <!-- //.accordion -->
            </div>
            <!-- //.col-lg-10 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Resume End -->


<!-- Section - Contact Start -->
<section id="contact" class="bg-gray-dark-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-alt font-w-600 letter-spacing-2 title-large text-white">Contáctame</h3>
                <p class="mt-3 text-gray text-extra-large"><i style="font-style: inherit">¿Tiene un proyecto que le gustaría discutir?</i></p>
                <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
            </div>
            <!-- //.col-lg-8 -->
        </div>
        <!-- //.row -->


        <div class="row justify-content-center mt-5 pt-lg-5">
            <div class="col-lg-8">
                <form method="post" id="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" name="name" class="font-alt form-control required" id="name" placeholder="* Nombre" required class="input-text-form">
                            </div>
                            <!-- //.form-group -->
                        </div>
                        <!-- //.col-lg-6 -->

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" name="email" class="font-alt form-control required email" id="email" placeholder="* Email" required>
                            </div>
                            <!-- //.form-group -->
                        </div>
                        <!-- //.col-lg-6 -->

                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" name="subject" class="font-alt form-control required" id="subject" placeholder="* Temática" required>
                            </div>
                            <!-- //.form-group -->
                        </div>
                        <!-- //.col-12 -->

                        <div class="col-12">
                            <div class="form-group">
                                <textarea name="message" class="font-alt form-control required" id="message" rows="12" placeholder="* Mensaje" required></textarea>
                            </div>
                            <!-- //.form-group -->
                        </div>
                        <!-- //.col-12 -->

                        <div class="col-12">
                            <span class="d-block font-alt letter-spacing-1 text-gray text-small text-white">*Por favor complete todos los campos</span>
                            <button type="submit" class="btn box-shadow-wide btn-base-color btn-large m-0 mt-4" id="btn-form" >Enviar Mensaje</button>
                        </div>
                        <!-- //.col-12 -->
                    </div>
                    <!-- //.row -->
                </form>
            </div>
            <!-- //.col-lg-8 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Contact End -->


<!-- Footer End -->
<footer class="bg-gray-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
              <img src="{% static 'assets/images/kinetia_logo_oepm.jpg' %}" alt="Kinetia" class="img-fluid kinetia-footer">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <ul class="m-0 p-0">
                    <li class="list-inline-item">
                        <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-facebook ease"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-twitter ease"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-linkedin ease"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-instagram ease"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-pinterest ease"></i>
                        </a>
                    </li>
                </ul>

                <p class="m-0 mt-4 text-gray text-medium">Sígueme en mis Redes Sociales.</p>
            </div>
            <!-- //.col -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</footer>
<!-- //Footer End -->


<!-- Scroll to top -->
<a href="#page-top" class="page-scroll scroll-to-top bg-base-color"><i class="fa fa-angle-up"></i></a>


<!-- Main JS -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Include all js plugins (below) -->
<script src="{% static 'assets/js/pace.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.matchHeight.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.inview.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.flexslider.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

<!-- Theme JS -->
<script src="{% static 'assets/js/theme.js' %}"></script>
<script src="{% static 'assets/js/switch_style.js' %}"></script>

</body>

</html>